[submodule "lib/WiFiManager_Baena"]
	path = lib/WiFiManager_Baena
	url = https://github.com/KEDARUMA-FANTASTIC/WiFiManager_Baena.git
[submodule "lib/Webserver"]
	path = lib/Webserver
	url = https://github.com/KEDARUMA-FANTASTIC/Webserver.git
