[submodule "lib/WiFiManager_Baena"]
	path = lib/WiFiManager_Baena
	url = https://github.com/KEDARUMA-FANTASTIC/WiFiManager_Baena.git
[submodule "lib/WebServer-esp32"]
	path = lib/WebServer-esp32
	url = https://github.com/KEDARUMA-FANTASTIC/WebServer-esp32
